* {
	font-family: 'Sen', sans-serif;
	font-weight: 100;
	font-size: 30px;

}



:root{
	--red: #f40;
}


div {
	padding: 30px;
	height: 150px;
	width: 150px;
}

.container {

	background: var(--red);
}

.container-2 {
	background: blue;
}



