* {
	font-family: 'Sen', sans-serif;
	font-weight: 100;
	font-size: 30px;

}


.flex-container{
	display: flex;
	height: 100vh;
}



.flex-item {
	background-color: #c22;
	color: #fff;
	margin:5px;
	height: 120px;
	min-width: 120px;
	text-align: center;
	flex-grow: 1;
	width: 300px
}

.blue {
	background: #00f;
	color: #fff;
	margin:5px;
	height: 120px;
	text-align: center;
	flex-basis: : 300px;
	flex-shrink: : 1 ;
}