* {
	font-family: 'Sen', sans-serif;
	font-weight: 100;
	font-size: 30px;

}

body {
	background-color: #000;
}

.flex-container{

	order: 5;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	background: #444;
	margin: 50px 50px;
	z-index: 50 ;
	border: 25px solid #000;
	outline: 5px solid #b714b8

}



.form {
	min-width: 300px;
	flex: 1;
	text-align: center;
	padding: 30px;
	order: 5;
}

.form__input{
	width: 100%;
	padding: 6px;
	margin: 6px 0;
	border-bottom: 5px solid #2dc;
	background: transparent;
	color: #fff;
}

.form__input:focus {
	background: linear-gradient(to bottom, transparent, #222);
	outline: none;
	border-bottom: 5px solid #B2B;
	color: #fff;

}

.form textarea {
	min-height: 150px;
	resize: none;
}

----------------

.form-img {
	flex: 1 ;
	padding: 50px;
	display: flex;



}
.form-img div {
	padding: 50px;

}

.img-container {

	margin: auto;
}

.img-container  div{
	background-color: #fff;
	border-radius: 150% ;
	border:  5px solid #b714b8;
	text-align: center;
	padding: 5px;


}

.form-img img {

	width: 300px ;
	margin: auto;
}

.form__submit { 

	width: 100%;
	padding: 6px;
	margin: 6px 0;
	background: #2dc;
	color: #fff;
}

.form__submit:active{
	background: linear-gradient(to bottom, transparent, #2df);
	outline: none;
	color: #fff;
}

